.section {
    position: fixed;
    top: 50%;
    right: 5vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    padding: 0.5rem;
  z-index: 10000;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #fbf9f941;
      border-radius: 50%;
      color: #c5c4c4;
      
      text-decoration: none;
      transition: all 0.3s ease;

      img{
        height: 3.2vh;
      }

      &:hover {
        background-color: #007bff;
        color: #ffffff;
      }
    }
  }