.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #001d19;
  height: auto;
  min-height: 50vh;
  box-sizing: border-box;

  .contentcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 95%;

    .top {
      border-bottom: 1px solid #f6e9ca;
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }

      .left {
        display: flex;
        width: 60%;

        @media only screen and (max-width: 800px) {
          width: 100%;
          padding: 0vh;
          text-align: center;
          justify-content: center;
          align-items: center;
        }

        .title {
          color: #f6e9ca;
          width: auto;
          font-size: 5vh;
          line-height: 100%;

          @media only screen and (max-width: 800px) {
            text-align: center;
            font-size: 4vh;
          }
        }
      }
      .right {
        color: #f6e9ca;
        width: auto;
        font-size: 4vh;
        line-height: 100%;
        width: 20vw;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;

        h5{
          font-size: 5vh;
       
        }

        @media only screen and (max-width: 800px) {
          width: 100%;
          text-align: center;
          align-items: center;

          h5 {
            margin: 0;
            font-size: 4vh;
          }
        }

        .options {
          display: flex;
          flex-direction: column;
          // align-items: flex-end;
          width: 100%;
          a {
            font-size: 2vh;
            width: 50%;
            margin: 1vh;
            color: #f6e9ca;
            letter-spacing: 0.08vh;
            cursor: pointer;

            &:hover {
              color: #c69a72;
            }
          }

          @media only screen and (max-width: 800px) {
            height: auto;
            text-align: center;
            align-items: center;
            margin-bottom: 15vh;
            margin-top: 3vh;
      
          }
        }
      }

      // .right {
      //   width: 60% ;
      //   display: flex;
      //   background-color: red;
      //   height: 100%;
      //   h5 {
      //     font-size: 2vh;
      //   }

      //   @media only screen and (max-width: 800px) {
      //     width: 100%;
      //   }
      // }
    }

    .bottom {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 800px) {
        justify-content: center;
      }

      .rights {
        color: #f6e9ca;
      }
    }
  }
}
