/* @font-face {
    font-family: 'TalismanBoldItalic';
    src: url('/fonts/Talisman/OTF/PPTalisman-Bold-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }



  @font-face {
    font-family: 'TalismanCompactRegular';
    src: url('/fonts/Talisman/OTF/PPTalisman-Compact-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }



  @font-face {
    font-family: 'TalismanLight';
    src: url('/fonts/Talisman/OTF/PPTalisman-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'OverusedGrotesk-Light';
    src: url('/fonts/overused-grotesk/OverusedGrotesk-Light-BF64eeac17cade6.otf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  } */


  @font-face {
    font-family: 'VisbyBold';
    src: url('/fonts/Visby/VisbyBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'VisbyBoldItalic';
    src: url('/fonts/Visby/VisbyBold Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'VisbyMedium';
    src: url('/fonts/Visby/VisbyMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'VisbyLight';
    src: url('/fonts/Visby/VisbyLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  
  
  @font-face {
    font-family: 'VisbyThin';
    src: url('/fonts/Visby/VisbyThin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }




  @font-face {
    font-family: 'PlayfairDisplayBold';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PlayfairDisplayBoldItalic';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'PlayfairDisplayMedium';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PlayfairDisplayMediumItalic';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'PlayfairDisplayBlack';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PlayfairDisplayBlackItalic';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PlayfairDisplayItalic';
    src: url('/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }