.card {
  background-color: transparent;
  overflow: hidden;
  border: none;
  border-bottom: 0.5px solid #c69a72;
  z-index: 10000;

  :hover {
    scale: 1.005;
  }

  @media only screen and (max-width: 1000px) {
    width: 100%;
    height: auto;

    margin: 1vh 0vh;
  }

  &:last-child {
    margin-bottom: 0;
  }
  th {
    padding-top: 2.4vh;
    padding-bottom: 2.4vh;
  }

 
  
  .header {
    padding: 0 2vh;
    color: #c69a72;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.3s;
    height: 10vh;
    z-index: 1000;
  
    font-size: 2.3vh;
    letter-spacing: 0.08vh;
    font-weight: 100;
    line-height: 120%;
  
    .left {
      display: flex;
      align-items: center;
      gap: 3vh; // separación horizontal entre número y pregunta
    }
  
    .number {
      font-size: 4vh; // más grande
      font-weight: 300;
      color: #155446; // color distinto
      line-height: 1;
    }
  
    .question {
      font-size: 2.4vh; // tamaño diferente
      font-weight: 400;
      color: #39442b; // otro color
      line-height: 1.1;
    }
  
    svg {
      flex-shrink: 0;
    }
  }

  .motionContent {
    overflow: hidden;
  }

  .content {
    padding: 2vh 2vh;
    color: #c69a72;
    font-size: 2.1vh;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-family: var(--font-roboto), sans-serif;



    
  }
}
