.section {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: #f6e9ca;

  .fullcontainer{

    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: #c69a72;
      width: auto;
      max-width: 100vh;
      text-align: center;
      margin-top: 0vh;
      span {
        color: #155446;
      }
    }
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding-bottom: 5vh;
      flex-direction: column;
    
    }
  
   
  }


}
