.section {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: #f6e9ca;

  h6 {
    font-size: 5vh;
    color: #c69a72;
    width: auto;
    max-width: 100vh;
    letter-spacing: 0.1vh;
    text-align: center;

    span {
      color: #155446;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding-bottom: 12vh;
    flex-direction: column;

  }

  button {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0vh 4vh;
    border-radius: 30px;
    border: 0.1vh solid black;
    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer; 
    p {
      font-size: 2vh;
      color: black;
      font-family: 'VisbyMedium';
    }

    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: #27d16a;
      border-color: #27d16a;
  
      p {
        color: white;
      }
    }
  }
}
