.description {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30vh;

  @media only screen and (max-width: 1000px) {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .body {
    display: flex;
    justify-content: center;
    position: relative;

    span {
      font-weight: 300;
      border-top: 1px solid #47c237;
      line-height: 120%;
      padding-right: 10vw;
      margin-right: 40px;
      font-size: 2.5vh;
      padding-top: 1vh;
      color: #47c237;
    }

    h6 {
      font-size: 4vh;
      color: #f6f6f6;
      width: auto;
      letter-spacing: 1px;
    }

    .styled-paragraph {
      font-size: 1rem;
      line-height: 1.5;
    }

    @media screen and (max-width: 1000px) {
      padding-left: 0;
      padding-right: 0;
      gap: 0;
    }
  }

  .moreWork {
    padding: 2vh; // Ajuste proporcional usando vh
    border-radius: 4vh; // Ajuste proporcional usando vh
    border: 1px solid grey;
  }
}

