.section {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  overflow-x: hidden;
  margin-bottom: 10vh;


  @media only screen and (max-width: 750px) {
    height: auto;
  }

  .container {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  .item {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: auto;
    cursor: pointer;
    flex-direction: column;
    width: 45%;
    margin: 1vw 1vw;
  
    // Línea divisoria (solo para los dos primeros)
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      height: 60%;
      width: 1px;
      background-color: #f6e9ca;
      transform: translateX(50%);
    }
  
    // Cuando se vuelve columna (mobile)
    @media only screen and (max-width: 750px) {
      width: 100%;
  
      &:not(:last-child)::after {
        top: unset;
        bottom: 0; // posiciona la línea abajo
        left: 50%;
        right: auto;
        width: 40%;
        height: 1px;
    
        transform: translateX(-50%);
   
        margin-top: 4vh;
      }
    }
    
  }
    .textcontainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center !important;

      h5 {
        color: #f6e9ca;
        font-size: 18vh;
        text-align: center;
        margin: 0;

        @media only screen and (max-width: 750px) {
          font-size: 14vh !important;
        }
      }

      p {
        margin-bottom: 1rem;
        color: #f6e9ca;
        text-align: center;
        margin: 0;
        margin-bottom: 3vh;
        
      }
    }
  
}
