.section {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  overflow-x: hidden;


  @media only screen and (max-width: 750px) {
    height: auto;
  }

  .container {
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-around;

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  .item {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: auto;
    cursor: pointer;

    .textcontainer {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center !important;

      h5 {
        color: #62685e;
        font-size: 18vh;
        text-align: center;
        margin: 0;

        @media only screen and (max-width: 750px) {
          font-size: 14vh !important;} 
      }

      h6 {
        margin-bottom: 1rem;
        color: #62685e;
        font-size: 4vh;
        text-align: center;
        margin: 0;

        @media only screen and (max-width: 750px) {
          font-size: 3vh !important;} 
      
      }
    }
  }
}
