.section {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  margin: 0 auto;
  overflow-x: hidden;


  background-color: #c69a72;


  .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0vh;
    margin-top: 0vh;

    .title {
      color: #f6e9ca;
      width: auto;
      @media only screen and (max-width: 800px) {
        text-align: center;
        padding: 0vh 2vh;
      }
    }
    span {
      color: #155446;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 800px) {
    height: auto;
  }

  @media only screen and (max-width: 800px) {
    height: auto !important;
  }
}

.cardcontainer {
  height: 70vh;
  width: 60vw;
  border-radius: 3vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: #155446;
  transition: transform 0.3s ease; // para animar el cambio de tamaño
  min-height: 40vh; // Asegura altura mínima
  align-items: stretch; // Hace que los hijos crezcan parejo

 
  &:hover {
    transform: scale(0.97); // achica un poco al hacer hover
  }

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  @media only screen and (max-width: 800px) {
    height: auto !important;
    min-height: unset;
    max-height: unset;
    flex-direction: column;
  }

  .cardright {
    width: 50%;
    height: 100%;
    position: relative;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: 1000px) {
      display: none;
    }

    // .circleButton {
    //   position: absolute;
    //   bottom: 20px;
    //   right: 20px;
    //   width: 50px;
    //   height: 50px;
    //   background-color: white;
    //   border-radius: 50%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   cursor: pointer;
    //   transition: transform 0.3s ease;

    //   &:hover {
    //     transform: scale(1.1);
    //   }

    //   svg {
    //     width: 20px;
    //     height: 20px;
    //   }
    // }
  }

  .cardleft {
    width: 50%;
    background-color: #f6e9ca;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    word-break: break-word;
    box-sizing: border-box;
    flex-grow: 1;

    @media only screen and (max-width: 1000px) {
      width: 100%;
    }


    @media only screen and (max-width: 800px) {
      padding: 5vh 3vh;
    }


    .cardTitle {
      font-size: 4vh;
      color: #39442b;
      width: auto;
      line-height: 110%;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
      margin: 0;
      margin-bottom: 6vh;
    }

    .text {
      font-size: 2vh;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
      text-align: justify;
    }
  }
}

.slide {
  width: 50vw !important;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  height: auto;

  @media only screen and (max-width: 800px) {
    width: 100% !important;

    height: auto !important;
  }
}

.carouselcontainer {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto !important;

  @media only screen and (max-width: 800px) {
    width: 90vw;
    height: auto !important;
    display: flex;
  }
}

.carouselcontent {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 98vw;
  display: flex;
  justify-content: space-between !important;
  overflow: visible;

  @media only screen and (max-width: 1200px) {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
  }


  @media only screen and (max-width: 800px) {
    width: 90vw;
    height: auto !important;
    display: flex;
  }
}

.arrowscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  align-self: center;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;

  @media only screen and (max-width: 800px) {
    height: auto !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiperslide {
  display: flex;
  justify-content: space-between;
  width: 60vw !important;
  flex-shrink: 0;
  background-color: #f6e9ca;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 4vh;
}

.swiper-slide .subtitle {
  font-size: 2vh;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.customnext {
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vh solid #39442b;
  cursor: pointer;
  &:hover {
    background-color: #f6e9ca; /* Color de fondo al hacer hover */
  }
  svg {
    width: 5vh;
    height: 5vh;
  }
}

.customprev {
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vh solid #39442b;
  &:hover {
    background-color: #f6e9ca;
  }
  svg {
    transform: rotate(180deg);
    width: 5vh;
    height: 5vh;
  }
}
